@model IEnumerable<Insured>
@{
    ViewData ["Title"] = "ViewDetails";
}


<div class="row ml-2">
    <div class="col-9">
        @*  <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" data-bs-content="Name : @ViewBag.FullName">View Client Info</button>*@
        <h2>Name : @ViewBag.FullName</h2>
    </div>
    <div class="col-9">
        @*  <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" data-bs-content="Name : @ViewBag.FullName">View Client Info</button>*@
        <h2>Date of Birth : @ViewBag.DateofBirth</h2>
    </div>
    @*<div class="col-9">
            <h3>Date of Birth : <span class="label label-primary">@ViewBag.DateofBirth</span></h3>
        </div>*@
    <div>
        <a class="btn btn-primary" asp-controller="Exposure" asp-action="ViewPolicies" asp-route-Identifier="@TempData["Identifier"]"><i class="fas fa-arrow-right"></i> Policies: <b> @ViewBag.TotalPolicy</b></a>
        <a class="btn btn-light" asp-controller="Exposure" asp-action="Index"><i class="fa fa-home"></i>Main Page</a>
    </div>
</div>

<div class="table-responsive-md mb-3">
    <table class="table table-striped table-hover table-bordered" id="basic-datatables" cellspacing="0">
        <thead class="bg-dark text-light">
            <tr>
                <th>BASIC</th>
                <th>TOTAL SUM REINSURED</th>
                <th>TOTAL REINSURED AMOUNT</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                if(!item.benefittype.Trim().Contains("RIDER"))
                {
                    <tr>
                        <td>@item.benefittype</td>
                        <td>@ViewBag.TotalBasicSumReinsured</td>
                        <td>@ViewBag.TotalBasicReinsuredAmount</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


<div class="table-responsive-md">
    <table class="table table-striped table-hover table-bordered" id="basic-datatables" cellspacing="0">
        <thead class="bg-dark text-light">
            <tr>
                <th>RIDERS</th>
                <th>TOTAL NET AMOUNT AT RISK</th>
            </tr>
        </thead>
        <tbody>

            @foreach(var rider in Model)
            {
                <tr>
                    <td>@rider.benefittype</td>
                    <td>@rider.reinsurednetamountatrisk </td>
                </tr>

            }
        </tbody>
    </table>
</div>


<script>
    $('#basic-datatables').DataTable({
        searching: false,
        paging: false,
        info: false
    });
</script>